@{
    ViewData["Title"] = "ASP.NET MVC Project";
}

<div class="text-center">
    <h2>Welcome to</h2>
    <h1 class="display-4" style="color:cornflowerblue">Not <em>Really</em> Best Buy</h1>
    <p style="color:orange">The current time is @DateTime.Now</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
